<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd

">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://weiyouai.github.io/ios_test/CDC_CRM.ipa</string>
                </dict>
                 <dict>
                     <key>kind</key>
                     <string>full-size-image</string>
                     <key>needs-shine</key>
                     <true/>
                     <key>url</key>
                     <!-- http或者https链接的图片地址，可直接使用app对应的icon（分辨率没强制要求） -->
                     <string>https://weiyouai.github.io/ios_test/test.png</string>
                </dict>
                <dict>
                     <key>kind</key>
                     <string>display-image</string>
                     <key>needs-shine</key>
                     <true/>
                     <key>url</key>
                     <!-- http或者https链接的小图片地址，可直接使用app对应的icon（分辨率没强制要求） -->
                     <string>https://weiyouai.github.io/ios_test/test.png</string>
                </dict>
             
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>cdc.cndatacom.crm</string>
                <key>bundle-version</key>
                <string>1.0</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>CRM</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
